{
	"presets": [
		"es2015",
		"react",
		"stage-1"
	],
  "plugins": [
    "transform-class-properties",
  	"react-hot-loader/babel",
  	["import",{ libraryName: "antd", style: "css" }],
    ["transform-runtime", {
      "helpers": false,
      "polyfill": false,
      "regenerator": true,
      "moduleName": "babel-runtime"
    }]
  ]
}